.App {
  text-align: center;
  display: block;
  margin: 10px;
}

label {
  display: block;
  margin: 20px;
}

/* #serif {
  font-family: 'Times New Roman', Times, serif;
}

#sans-serif {
  font-family: Arial, Helvetica, sans-serif;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
} */

.display{
  font-size: 24px;
  text-align: center;
  margin: 100px;
}
